<table class="table table-hover">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Message</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="message in messageList.messages track by message.id">
      <td>{{ message.from }}</td>
      <td>{{ message.to }}</td>
      <td>{{ message.text }}</td>
      <td>{{ message.status }}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-3 col-sm-offset-9">
    <button type="button" class="btn btn-primary" ng-click="messageList.sendMessage()">
      Send message!</button>
  </div>
</div>
<ng-outlet></ng-outlet>