// bower:scss
// endbower

body {
  padding: 20px 0 0 0;
  margin: 0;
}

.footer {
  margin-top: 20px;
  padding-top: 19px;
  padding-left: 15px;
  padding-right: 15px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  
  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
