<div class="container">
  <div class="jumbotron">
    <h1>Hello!!</h1>
    <p>Example modal application with angular@1.5.6 Components.</p>
    <p>Sharing data between components with service.</p>
  </div>

  <form ng-submit="modalApp.save()" class="row text-center">
    <div class="row">
      <div class="col-sm-6 text-right">
        <button type="submit" class="btn btn-primary btn-lg">
          Execute info modal</button>
      </div>
      <div class="col-sm-6 text-left">
        <button type="button" ng-click="modalApp.remove()" class="btn btn-danger btn-lg">
          Execute confirm modal</button>
      </div>
    </div>
  </form>

  <div class="footer">
    <div class="container text-right">
      <p><span class="glyphicon glyphicon-wrench"></span> powered by @u26726</p>
    </div>
  </div>
</div>